<div class="left-content" id="content">
  <br />
  <div id="bcontentL">
    <h4 style="color: #605ae9; text-align: center; margin-bottom: 15px">Manage Classes</h4>
    <p style="text-align: center; color: #777">View insights and manage your courses.</p>
  </div>
</div>

<div class="right-content" id="right-content">
  <br />
  <div id="bcontentR" style="padding: 20px; border-radius: 10px; padding-top: 0">
    <h4 style="color: #605ae9; text-align: center; margin-bottom: 15px">Instructor Dashboard</h4>
    <p style="text-align: center; color: #777">View insights and manage your courses.</p>
  </div>
</div>

<script src="{{ url_for('static', filename='instructor/js/manage-classes.js') }}"></script>
