GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
APP_SECRET_KEY=your-app-secret-key
SERVER_METEDATA_URL=https://accounts.google.com/.well-known/openid-configuration

DB_HOSTNAME=127.0.0.1
DB_DATABASE=your-database-name
DB_USERNAME=your-db-username
DB_PASSWORD=your-db-password
DB_PORT=5432
